<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  <a class="navbar-brand " href="/admin/dashboard"><img class="mb-4 rounded img-fluid shadow-sm mx-auto d-block" src="/assets/logo.png" alt="EKA logo" width="150" height="150" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{!-- <div class="collapse navbar-collapse ekanav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
            <li class="nav-item active">
        <a class="nav-link" href="#">SHOP</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/users">users</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/products">products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
         <li> <form class="form-inline my-2 my-lg-0">
    
    </form>
    </ul>


  </div> --}}
</nav>
