
		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
                    {{#each products}}
		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="/showProduct?id={{this._id}}">
							<img src="/productImages/{{this.image}}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{this.name}}</h3>
							<strong class="product-price">₹{{this.price}}</strong>
						</a>
					</div> 
					<!-- End Column 1 -->
                    {{/each}}

		      	</div>
		    </div>
		</div>




		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>